.search-container{
    background-color: blue;

}

label {
    margin: 0.2em auto;
    display: inline-block;
    height: 2em;
};

input {
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: transparent;
  height: 2em;
}
input:hover{
  border-style: none;
}